NODE_ENV=development
PORT=3000
APPLICATION_EXTERNAL_PORT=3001
LLM_PROVIDER=fake
ANTHROPIC_API_KEY=
DATABASE_HOST=localhost
DATABASE_EXTERNAL_PORT=5433
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=llm_agent_planner
